.search-bar {
    margin: 10px 0;
    text-align: center;
  }
  
  .search-bar input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .search-bar input:focus {
    border-color: #007bff;
  }
  